body,h1,.ce{
  text-align: center;
}
@media screen and (min-width: 200px) {
.tex{
  color:blue;
  font-size: 23px;
  align-self: center;
  align-items: center;
  align-content: center;
}
}
@media screen and (min-width: 400px) {
.tex{
  color:blue;
  font-size: 32px;
  align-self: center;
  align-items: center;
  align-content: center;
}
}
@media screen and (min-width: 600px) {
.tex{
  color:blue;
  font-size: 41px;
  align-self: center;
  align-items: center;
  align-content: center;
}
}
.p1{
  border-radius: 2%;
  width:50%;
  height:75%;
  align-self: center;
  align-items: center;
  align-content: center;
}
.p2{
    border-radius: 2%;
    width:30%;
    height:70%;
    align-self: center;
    align-items: center;
    align-content: center;
}
h1,h5{
  color:blue;
}
.le{
  color:blue;
  text-align: left;
}

.rw{
  padding-top: 20px;
  padding-bottom: 1px;

}
.rw1{
  padding-top: 5px;
  padding-bottom: 5px;

}
.carousel-inner,img {
  width: 100%;
  height: 100%;
}
.para{
  text-align: justify;
  width: 100%;
  height: 100%;
}

hr{
  height:5px;
  border-width:0;
  color:blue;
  background-color:blue;
}
